/* Write your CSS here */
.pieGraphhContainerAge {
  background-color: #1c1c2b;
  width: 95%;
  height: auto;
  border-radius: 10px;
  font-family: Roboto;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.graphHeadingAge {
  font-size: 20px;
  color: #cbd5e1;
}
